/* The idea here is to specify a different background for each part, so I took it off the body element */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
   /* background-color:rgb(253, 203, 183); */
   margin:auto;
   font-family:'Times New Roman', Times, serif;
   color:rgba(0,0,0,0.7);
   text-align:center;
}

/* Specifying the background for what once was the home page */
#home-main {
    background-image:url(/images/background-images/2.jpg);
    background-attachment:fixed;
    background-size:cover;
}

/* Setting up the first image to show up once user enters site */
#first, #first-h1 {
    animation:FadeIn 5s forwards;
}
#first-h1 {
    position:absolute;
    width:30%;
    padding:4%;
    z-index:100;
}
#second-h1 {
    position:absolute;
    left:75%;
    top:50%;
    padding:4%;
    opacity:0;
    animation:FadeIn 3s ease-in 2500ms forwards;
}
#first {
    width:100vw;
    height:120vh;
    float:right; 
    /* Not sure what this float is for, so I'll keep it for now */
}


/* Scroll down to next section button */
#down {
    position:absolute;
    top:75%;
    left:87%;
    opacity:0;
    animation:FadeIn 1s ease-in 7000ms forwards;
}
#down:hover{
    cursor:pointer;
} 

.clear {
    clear:both;
}

/* Setting up the first slider that showcases Morocco */
.slider0-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider0-images {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider0-text {
    background-color:rgba(0,0,0,0.5);
    color:whitesmoke;
    line-height:4vh;
    font-size:22px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding:5%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:99;
}

#welcome {
    display:block;
    color:white;
    font-size:3vw;
}

.slider0-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider0-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.slider0-image:first-child {
    opacity: 1;
}

/* Style for the slider of paintings */

#paintings-p {
    position:absolute;
    color:whitesmoke;
    line-height:5vh;
    font-size:30px;
    padding:3%;
    background-color:rgba(0,0,0,0.5);
    z-index:999;
    font-style:normal;
}
.slider-container {
    background-color:rgb(60,22,46);
    position: relative;
    height: 100vh;
}
.slider-object {
    display:flex;
    align-items:center;
    justify-content:center;
    /* Setting up the slider */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s; /* Adjust the duration as needed */
  
}
.slider-object.active {
    opacity: 1;
    z-index: 1;
}
/* Adjusting the dimensions of the image */
.paintings {
    display:inline-block;
    width:75vw;
    height:100vh;
}
/* Adjusting the writings next to the image */
.slider-object p {
    color:white;
    text-align:center;
}
/* Adjusting the size of the image's title */
.title {
    font-size:4vw;
}
/* Adjusting the size of the image's painter */
.slider-object p .author {
    font-size:2vw;
}

/* Adding an "alive" effect to the spans */
@keyframes alive {
    0% {
        font-size:45px;
    }
    25% {
        font-size:48px;
    }
    100% {
        font-size:45px;
    }
}

h1 {
    text-align:center;
    font-size:50px;
    font-style:italic;
}
/* Adding a fading effect to the slider images */
@keyframes FadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
}
}


/* Positionning the sliders to the center */
.slider {
    position: relative;
    width:500px;
    overflow: hidden;
    margin:auto;
    border-radius:1%;
}

.slider-image, .slider2-image {
    width:500px;
    object-fit:cover; /* This ensures images maintain aspect ratio and fit the container */
}

.slider-images {
    display:flex;
    width:500px;
    transition: transform 0.5s ease-in-out;
}

.slider-arrows {
    position: absolute;
    top: 50%;
    left:0%;
    right:0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#hr1 {
    margin:2%;
}
/* Styling the first footer of the page */
.footer1 {
    font-size:25px;
    margin:3%;
    margin-bottom:0%;
    padding-bottom:2%;
    text-align:center;
    
}
.footer1 a {
    text-decoration:none;
    font-weight:900;
}
.footer1 a:visited {
    color:darkslategray;
}
/* Styling hr lines  */
hr {
    color:rgba(0,0,0,0.3);
}


/* Making the page mobile friendly */

@media only screen and (min-width:300px) and (max-width:500px) {
    h2, #intro h1, h1 {
        font-size:23px;
    }
    h2 {
        margin:5% 0;
    }
    p {
        font-size:18px;
    }
    .slider, .slider-images, .slider1-image, .slider2-image {
        width:200px;
    }
    #second-h1 {
        right:2%;
        top:30%;
    }
    #first {
        width:150vw;
        height:100vh;
    }
    /* @keyframes alive {
        0% {
            font-size:23px;
        }
        25% {
            font-size:26px;
        }
        100% {
            font-size:23px;
        }
    } */
}
@media only screen and (min-width:501px) and (max-width:600px) {
    #intro h1, h1 {
        font-size:23px;
    }
    .slider-images {
        width:10vw;
        height:50vh;
    }
    .back , .next {
        padding:5px;
        width:10vw;
        height:5vh;
    }
    #second-h1 {
        right:2%;
        top:50%;
    }
    #first {
        width:125vw;
        height:100vh;
    }
}
@media only screen and (min-width:601px) and (max-width:1001px) {
    .slider1-image {
        width:80vw;
        height:60vh;
    }
    h1 {
        font-size:35px;
    }
    #second-h1 {
        top:30%;
    }
    .back , .next {
        padding:75px 14px;
    }
    #first {
        width:100vw;
        height:120vh;
    }
}
@media only screen and (min-width:1001px) and (max-width:1200px) {
    h1 {
        font-size:45px;
    }
} 

@media only screen and (min-width:600px) and (max-width:1200px) {
    .services-h1 , .services-h2 {
        margin:10% 0;
        font-size:2em;
    }
    .services-p {
        font-size:1.3em;
    }
    .slider3 {
        display:block;
    }
    .slider3-image {
        margin:2%;
        width:80vw;
        height:75vh;
    }
}