.logo {
    width:230px;
    height:150px;
}

.container {
    background-image:url(images/paintings/city1.jpg);
    background-size:cover;
}

.navbar {
    display:flex;
    justify-content: flex-end;
    position:absolute;
    
}
.tab {
    position:relative;
    bottom:100px;
    left:250%;
    z-index:9999;
    padding:0 4%;
    font-size:larger;
    text-decoration:none;
    color:white;
    font-size:25px;
}
.tab:last-child {
    padding-right:8%;
}